.book-summary {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px; /* 根据需要调整宽度 */
    overflow-y: auto;
    background: #333; /* 根据需要调整背景色 */
}

.book-body {
    margin-left: 250px; /* 根据需要调整与目录的间距 */
}

.book-summary::-webkit-scrollbar {
    width: 8px;
}

.book-summary::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.book-summary::-webkit-scrollbar-thumb {
    background: #888;
}

.book-summary::-webkit-scrollbar-thumb:hover {
    background: #555;
}
